body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #a2c4dd;
}

a {
  color: #388ff0;
  text-decoration: none;
  border-bottom: 1px solid #38cffd;
  padding: 5px;
  text-decoration: none;
 }

a:hover {
  color: #acd89b;
  text-decoration: none;
}

header {
  background-color: #388ffd;
  padding: 10px 0px;
  margin: 0px;
  color: #fff;
  text-align: center;
}

header h1 {
  font-size: 32px;
  margin-bottom: 8px;
  font-weight: normal;
}

header h2 {
  font-size: 24px;
  margin-top: 0px;
  font-weight: normal;
}

section {
  padding: 10px 20px;
}
